.newsletter-form {
  background-color: $second-color;
  color: $fourth-color;
  p {
    margin: 0;
    color: $third-color !important;
  }
 
}

.subscribe {
  .inline-btn-box {
    background-color: $second-color !important;
    .input-text-block {
      .input-text{
        background-color: $second-color !important;
        color: $fourth-color !important;
        border: 1px solid $third-color !important;
      }
      .input-btn{
        background-color: $third-color !important;
        // color: $fourth-color !important;
        border: 1px solid $third-color !important;
      }
      @include media-breakpoint-between(md, lg) {
        flex-direction: column;

        .input-text {
          border-radius: $border-radius-default;
        }

        .custom-btn-primary {
          margin-top: 10px;
          border-left: $border-default !important;
          border-radius: $border-radius-default !important;
        }
      }
    }
  }
}
